.App {
  text-align: center;
}

.app-intro {
  display: none;
}

@media (min-width: 736px) {
  .app-intro {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
}